@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --DarkGray: hsl(0, 0%, 55%);
    --VeryDarkGray: hsl(0, 0%, 41%);
}

body {
    margin: 0;
}

/* ------ HEADER SECTION ------ */

header {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #000000;
}


.heroimage img {
    position: relative;
    opacity: var(--Black);
    opacity: 0.6;
}

.header-container {
    position: absolute;
    top: 5%;
    box-sizing: border-box;
    overflow-x: hidden;
}

li {
    list-style-type: none;
    color: white;
    z-index: 500;
}

.button {
    border: 0;
    padding: 0;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    border: none;
    z-index: 500;
    font-weight: 900;
}

.navbar {
    position: fixed;
    z-index: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar-overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;

}

body.open .navbar-overlay {
    visibility: visible;
    opacity: 1;
}

.navbar-burger {
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    width: 60px;
    height: 60px;
    padding: 0;
    background: transparent;
    border: none;
    color: white;
    font-weight: 900;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar-title {
    margin: 0;
    overflow-x: hidden;
    cursor: pointer;
}

.navbar-menu {
    position: fixed;
    z-index: 500;
    top: 0;
    right: 0;
    translate: -100% 0;
    width: 270px;
    height: 100%;
    padding: 20px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;
    background: #000000;
    visibility: hidden;
    overflow-x: hidden;
}

body.open .navbar-menu {
    translate: 0 0;
    visibility: visible;
}

.navbar-menu>.button {
    color: white;
    background: transparent;
    padding: 0 8px;
}

.header-text h1 {
    border: 1px solid white;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 5px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
    width: 80%;
    z-index: 500;
    margin-left: 0.5rem;
}

/* --- header section  media queries --- */

@media only screen and (min-width: 600px) {
    .header-text {
        margin-top: 10%;
    }

    .header-text h1 {
        font-size: 30px;
        width: 70%;
        z-index: 500;
        margin-left: 0.5rem;
    }
}

@media only screen and (min-width: 768px) {
    .navbar-burger {
        display: none;
    }

    .navbar-overlay {
        display: none;
    }

    .navbar {
        justify-content: space-between;
        padding: 0 0 0 16px;
    }

    .navbar-menu {
        position: static;
        translate: 0 0;
        width: auto;
        background: transparent;
        flex-direction: row;
        visibility: visible;
    }

    .header-text h1 {
        font-size: 35px;
        width: 58%;
        z-index: 500;
    }
}

@media only screen and (min-width: 1200px) {

    .header-text h1 {
        font-size: 60px;
        width: 56%;
        z-index: 500;
        padding-left: 50px;
        padding-top: 30px;
        padding-bottom: 20px;
    }
}

/* ----- MAIN SECTION ----- */

main {
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /* background-color: red; */
}

.main-image {
    position: relative;
    margin-bottom: 2rem;
    translate: 0.3s;
}

.main-text {
    border: 2px solid red;
    border: none;
    text-align: center;
    width: 85%;
    margin: auto;
    translate: 0.3s;

}

h2 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin: 1.5rem 0;
}

p {
    color: var(--DarkGray);
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7rem;
}

/* --- main section  media queries --- */

@media only screen and (min-width: 900px) {
    main {
        padding-left: 6rem;
        padding-right: 6rem;
        padding-top: 10rem;
        width: 100%;
        height: 100%;
    }

    .main-image {
        position: relative;
        margin-bottom: 2rem;
    }

    .main-text {
        position: relative;
        background-color: white;
        top: -20rem;
        left: 25%;
        text-align: left;
        width: 50%;
        margin: auto;
        padding: 4rem;

    }

    p {
        line-height: 2rem;
    }
}



/* ----- GALLERY SECTION  ----- */

.myarticle {
    height: 100%;
    width: 100%;
    padding: 3rem 0;
}

.gallery-nav-bar {
    display: flex;
    align-items: center;
}

.button1 {
    display: none;
}

.button2 {
    width: 50%;
    margin: auto;
    margin-bottom: 3rem;
}

article h2 {
    width: 100%;
    text-align: center;
}

button {
    border: 1px solid black;
    padding: 10px 30px;
    background-color: transparent;
    text-align: center;
    width: 100%;
}

button a {
    font-family: 'Alata', sans-serif;
    font-weight: 300;
    color: var(--Black);
    text-decoration: none;
}

.imagedesktop {
    display: none;
}

.gallery {
    width: 100%;
    height: 100%;
}

.gallery-1-1 {
    position: relative;  
    margin-top: 1.5rem;
    overflow-y: hidden;
}


.gallery-1 img {
    width: 100%;
    filter: brightness(60%);
    overflow-y: hidden;
}

.gallery-2-2 {
    position: relative;
    margin-bottom: 1.5rem;
    overflow-y: hidden;
}

.gallery-2 img {
    width: 100%;
    filter: brightness(60%);
    overflow-y: hidden;
}

.articleh3 {
    position: absolute;
    top: 4rem;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    z-index: 500;
    margin-left: 20px;
    overflow-y: hidden;
    color: rgba(255, 255, 255, 0.781);
}



/* -----FOOTER SECTION----- */

footer {
    background-color: black;
    text-align: center;
    padding: 3rem 0.5rem;
}
.about{
    text-align: center;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: -1rem;
    
}
.about a{
    text-decoration: none;
    color: white;
    line-height: 2rem;
    font-size: 16px;
}

.social-media img {
    margin: 0px 5px;
}

.col-info {
    display: flex;
    flex-direction: column;
}

.copyright {
    color: var(--VeryDarkGray);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    width: 100%;
    font-size: 20px;
    margin-top: 1rem;
}


/* font-family: 'Alata', sans-serif;
font-family: 'Josefin Sans', sans-serif; */