@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --DarkGray: hsl(0, 0%, 55%);
    --VeryDarkGray: hsl(0, 0%, 41%);
}

body {
    margin: 0;
}

/* ------ HEADER SECTION ------ */

header {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #000000;
}

.heroimage {
    display: none;
}

.heroimagemobile img {
    position: relative;
    opacity: var(--Black);
    opacity: 0.6;
}

.header-container {
    position: absolute;
    top: 5%;
    box-sizing: border-box;
    overflow-x: hidden;
}

li {
    list-style-type: none;
    color: white;
    z-index: 500;
}

.button {
    border: 0;
    padding: 0;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    border: none;
    z-index: 500;
    font-weight: 900;
}

.navbar {
    position: fixed;
    z-index: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar-overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;

}

body.open .navbar-overlay {
    visibility: visible;
    opacity: 1;
}

.navbar-burger {
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    width: 64px;
    height: 64px;
    padding: 0;
    background: transparent;
    border: none;
    color: white;
    font-weight: 900;
    box-sizing: border-box;
    overflow-x: hidden;
}

.material-icons {
    margin-bottom: 0.2rem;
}

.navbar-title {
    margin: 0;
    overflow-x: hidden;
    cursor: pointer;
}

.navbar-menu {
    position: fixed;
    z-index: 500;
    top: 0;
    right: 0;
    translate: -100% 0;
    width: 270px;
    height: 100%;
    padding: 20px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;
    background: #000000;
    visibility: hidden;
    overflow-x: hidden;
}
.navbar-menu>.button:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.61);
    border-radius: 30%;
}

body.open .navbar-menu {
    translate: 0 0;
    visibility: visible;
}

.navbar-menu>.button {
    color: white;
    background: transparent;
    padding: 0 8px;
}

.header-text h1 {
    border: 2px solid white;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 5px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    width: 85%;
    z-index: 500;
    margin-top: 50%;
    margin-left: 0.5rem;
    line-height: 2.5rem;
}

/* --- header section  media queries --- */

@media only screen and (min-width: 600px) {
    .header-text h1 {
        font-size: 30px;
        width: 70%;
        z-index: 500;
        margin-left: 0.5rem;
        margin-top: 70%;
        line-height: 3rem;
    }
}

@media only screen and (min-width: 768px) {

    .heroimagemobile,
    .navbar-overlay,
    .navbar-burger {
        display: none;
    }

    .heroimage {
        display: flex;
    }

    .heroimage img {
        position: relative;
        opacity: var(--Black);
        opacity: 0.6;
    }

    .navbar {
        justify-content: space-between;
        padding: 0 0 0 16px;
    }

    .navbar-menu {
        position: static;
        translate: 0 0;
        width: auto;
        background: transparent;
        flex-direction: row;
        visibility: visible;
    }

    .header-text h1 {
        font-size: 35px;
        width: 58%;
        z-index: 500;
        margin-top: 10%;
        line-height: 3rem;
    }
}

@media only screen and (min-width: 1200px) {

    .header-text h1 {
        font-size: 60px;
        width: 56%;
        z-index: 500;
        padding-left: 50px;
        padding-top: 30px;
        padding-bottom: 20px;
        margin-top: 15%;
        line-height: 4rem;
    }
}

/* ----- MAIN SECTION ----- */

main {
    margin: 0;
}

.mymain {
    padding-top: 7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

.main-image {
    position: relative;
    margin-bottom: 2rem;
    translate: 0.3s;
}

.main-text {
    border: none;
    text-align: center;
    width: 85%;
    margin: auto;
    translate: 0.3s;
}

.main-text h2 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin: 1.5rem 0;

}

.main-text p {
    color: var(--DarkGray);
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7rem;
    width: 90%;
    margin: auto;
}

/* --- main section  media queries --- */

@media only screen and (min-width: 900px) {
    main {
        margin: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .mymain {
        padding-left: 6rem;
        padding-right: 6rem;
        padding-top: 10rem;
        width: 100%;
        margin-bottom: -15rem;
        padding-bottom: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .main-image {
        position: relative;
        margin-bottom: 0rem;
    }

    .main-text {
        position: relative;
        background-color: white;
        top: -20rem;
        left: 25%;
        text-align: left;
        width: 60%;
        margin: auto;
        padding: 3.6rem;
    }

    .main-text p {
        line-height: 1.5rem;
    }

    .main-text h2 {
        font-weight: 500;
        font-size: 45px;
        margin: 1.5rem 0;
    }

    .main-text p {
        font-size: 16px;
        line-height: 1.8rem;
        width: 100%;
        margin: auto;
    }
}

/* ----- GALLERY SECTION  ----- */

.myarticle {
    /* height: 100%; */
    width: 100%;
    padding: 2rem 0;
}

.gallery-nav-bar {
    display: flex;
    align-items: center;
}

.button1 {
    display: none;
}

.button2 {
    width: 50%;
    margin: auto;
    margin-bottom: 3rem;
}

.gallery-nav-barh1,
.myarticle h2 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #000000;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
}

article button {
    border: 1px solid black;
    padding: 5px 25px;
    background-color: transparent;
    text-align: center;
    width: 100%;
    font-family: 'Alata', sans-serif;
    font-weight: 300;
    color: var(--Black);
}
article button:hover {
    background-color: #000000;
    color: white;
}

.gallery-nav-barh2,
.imagedesktop {
    display: none;
}

.gallery {
    width: 100%;
    height: 100%;
}

.gallery-1-1 {
    position: relative;
    margin-top: 1.5rem;
    overflow-y: hidden;
    cursor: pointer;
}
.gallery-2-2:hover,
.gallery-1-1:hover{
    opacity: 0.5;
}


.gallery-1 img {
    width: 100%;
    filter: brightness(60%);
    overflow-y: hidden;
}

.gallery-2-2 {
    position: relative;
    margin-bottom: 1.5rem;
    overflow-y: hidden;
    cursor: pointer;
}

.gallery-2 img {
    width: 100%;
    filter: brightness(60%);
    overflow-y: hidden;
}

.articleh3 {
    position: absolute;
    top: 3rem;
    font-size: 12px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    z-index: 500;
    margin-left: 20px;
    overflow-y: hidden;
    color: rgba(255, 255, 255, 0.781);
}

/* --- main section  media queries --- */

@media only screen and (min-width: 1200px) {

    .gallery-nav-barh1,
    .imagemobile {
        display: none;
    }

    .myarticle h2 {
        font-size: 45px;
    }

    .imagedesktop {
        display: flex;
    }

    .gallery-1 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-content: center;
        margin: auto;
        width: 100%;
        grid-gap: 2rem;
        padding-top: 4rem;
    }

    .gallery-2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-content: center;
        margin: auto;
        grid-gap: 2rem;
        padding-top: 4rem;
    }

    .articleh3 {
        position: absolute;
        top: 22rem;
    }

    .button2 {
        display: none;
    }

    .gallery-nav-barh2,
    .button1 {
        display: flex;
        align-items: center;

    }

    .button1 {
        margin-bottom: 1.5rem;
    }

    .gallery-nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 1rem;
    }
}


/* -----FOOTER SECTION----- */

footer {
    background-color: black;
    text-align: center;
    padding: 3rem 0.5rem;
}

.about {
    text-align: center;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: -1rem;

}

.about a {
    text-decoration: none;
    color: white;
    line-height: 2rem;
    font-size: 16px;

}

.about a:hover {
    border-bottom: 1px solid white;
}

.social-media img {
    margin: 0px 5px;
    cursor: pointer;
    padding-bottom: 0.2rem;
}

.social-media img:hover {
    border-bottom: 1px solid white;
}

.col-info {
    display: flex;
    flex-direction: column;
}

.copyright {
    color: var(--VeryDarkGray);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    width: 100%;
    font-size: 20px;
    margin-top: 1rem;
}

/* --- footer section  media queries --- */

@media only screen and (min-width: 900px) {
    footer {
        margin-top: 4rem;
        padding: 2rem 4rem;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .col-info {
        text-align: right;
    }

    .col-logo {
        text-align: left;
    }

    .about {
        width: 100%;
        margin: auto;
        text-align: right;

    }

    .footerul {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        margin-top: 1rem;
        position: relative;
        left: -2rem;
    }

    .footerul a {
        font-size: 14px;
        margin: 0%;
        line-height: 1rem;
    }

    .footer-title {
        margin-left: 0;
    }

}


/* font-family: 'Alata', sans-serif;
font-family: 'Josefin Sans', sans-serif; */